/*Configuracion*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { font-size: 16px;
    scroll-behavior: smooth;
    font-family: 'Inder', sans-serif;
    font-weight: 300; line-height: 2rem; margin: 0 0 58px; 
}

:root {
    --verde : #8DB600;
    --azul : #00aae4;
}



/* Navegacion */

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    overflow: hidden;
    position: fixed;

}


nav .logo {
    width: 10rem;
    margin-top: 1rem;
    padding: 1 1 0 0;
}

.nav__menu {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.nav__menu > button {
    border: none;
    background-color: transparent;
    color: black;
    text-align: center;
    font-size: 1rem;
    transition: 0.6s;
    padding: 0.5rem;
    
}

.nav__menu .login__btn {
    width: 5rem;
    border: 2px solid var(--azul);
    border-radius: 1rem;
    color: var(--azul);
    height: 2rem;
    margin-top: 1.2rem;
    padding: 0.1rem;
}

.nav__menu .login__btn a {
    color: var(--azul);
}

.nav__menu a {
    text-decoration: none;
    color: black;
    scroll-behavior: smooth;
}

button:hover{
    background-color: var(--verde);
    color: white;
}

.login__btn:hover {
    background-color: var(--azul);
    color: black;
}


/* INICIO */ 

.inicio {
    padding-top: 10rem;
    display: inline-block;
    width: 100vw;
}

.inicio__info {
    text-align: center;
    color: black;
    font-size: 2rem;
    line-height: 3rem
}

.inicio__info > p {
    color: gray;
    font-weight: 400 bold;
}

.inicio__info > span {
    color: var(--verde);
}

.inicio__img {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 30vh;
    padding: 2rem;
}

.inicio__img > img {
    width: 100vw;
    height: 60vw;
}

/*  SIGUENOS  */ 

.siguenos {
    padding-top: 4rem;
    display: inline-block;
    width: 100vw;
    height: auto;
}

.siguenos__twitter {
    padding-top: 6rem;
    width: 100vw;
    height: 60vh;
    display: inline-block;
    background-image: url("../../../Assets/guy-programming.png");
    background-size: cover;
}

.siguenos__twitter__heading {
    text-align: center;
    width: 100%;
    height: auto;
}


.siguenos__twitter__heading .span__1 {
    font-size: 2rem;
    margin-right: 1rem;
    color: var(--verde);
    font-weight: 400;
}

.siguenos__twitter__heading .span__2 {
    font-size: 2rem;
    margin-right: 1rem;
    color: var(--azul);
    font-weight: 400;
}

.siguenos__twitter__logo {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1rem;
}


.siguenos__twitter__logo i {
    margin-top: 0.5rem;
    margin-right: 1rem;
   color: wheat;
   font-size: 1.5rem;
}


.siguenos__twitter__button {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
}

.twitter__btn {
    width: 8rem;
    height: 2rem;
    background-color: transparent;
    border: 2px solid var(--azul);
    border-radius: 1rem;
    font-size: 1.2rem;
    color: white;
    transition: 0.6s;
}

.twitter__btn a {
    color: wheat;
    text-decoration: none;
}

.twitter__btn:hover {
    background-color: var(--azul);
    color: black;
}

.siguenos__heading {
    width: 100vw;
    display: inline;
    justify-content: center;
    text-align: center;
    font-size: 1.6rem;
    
}

.siguenos__heading > p {
    color: rgb(39, 33, 33);
    line-height: 3rem
    
}

.siguenos__heading .siguenos__span1 {
    color: var(--azul);
}

.siguenos__heading .siguenos__span2 {
    color: var(--verde);
    margin-right: 1rem;
}


/* BENEFICIOS  */

.beneficios__seccion{
    width: 100vw;
    padding-top: 4rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.beneficios__heading {
    text-align: center;
    font-size: 1.1rem;
}

.beneficios__heading span {
    color: var(--azul);
}

.beneficios{
    width: 100%;
}

/* Ejercicio completo*/

.ejercicio__completo {
    padding-top: 4rem;
    text-align: center;
    color: rgb(39, 33, 33);
}

.ejercicio__completo h1 > span {
    color: var(--azul);
    font-size: 2rem;
}

.ejercicio__completo > button {
    width: 50%;
    background-color: var(--azul);
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    transition: 1s;
    color: white;
    margin-top: 1rem;

}

.ejercicio__completo a {
    text-decoration: none;
    color: white;
}

.ejercicio__completo > button:hover {
    background-color: transparent;
    color: black;
    border: 1px solid var(--azul);
}

.pokedex {
    width: 100vw;
    height: auto;
    padding-top: 5rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

.pokedex > button {
    padding: 1rem;
    background-color:transparent;
    border : 2px solid var(--azul);
    border-radius : 1rem;
    width: 10%;
}

.pokedex > button a {
    text-decoration: none;
    color: black;
}

/*MEDIA QUERIES*/

/*MEDIA QUERIES : Inicio*/
@media screen and (min-width : 1280px) { 

    .inicio {
        width: 100%;
        height: 60vh;
        display: flex;
        justify-content: space-around;
    }

    
    .inicio__info h4 span {
        color: gray;
        font-weight: 400 bold;
    }

    .inicio__info {
        text-align: left;
        font-size: 3rem;
    }

    .inicio__img {
        width: 50%;
        height: 30rem;
    }
    .inicio__img > img {
        width: 100%;
        height: 100%;
        margin-top: -4rem;
    }
}

/*MEDIA QUERIES : navbar*/

@media screen and (min-width : 1280px) {
    .nav__menu button {
    margin: 0.5rem 2rem;
    }

}

/* MEDIA QUERIES : Siguenos */

@media screen and (min-width : 1280px){
    .siguenos {
        display: flex;
        justify-content: center;
    }
    .siguenos__heading {
        padding-top: 10rem;
        font-size: 3rem;
    }
}

/* MEDIA QUERIES : Beneficios*/


@media screen and (min-width : 1280px) {
   
    .beneficios{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        margin: auto;
        grid-gap: 2rem;
    }

    .beneficios div {
        padding-top: 3rem;
        text-align: center;
        font-size: 1rem;
    }
    .beneficios__1 {
        margin-top: 1rem;
    }
    .ejercicio__completo button {
        margin-top: 1rem;
        width: 15%;
    }

}
